<h1>Progress bar and spinner</h1>

<mat-progress-bar [value]="loadingPercent" color="primary"></mat-progress-bar>
<br />
<mat-progress-bar [value]="loadingPercent" color="accent"></mat-progress-bar>
<br />
<mat-progress-bar [value]="loadingPercent" color="warn"></mat-progress-bar>
<br />

<h1>Loading - Waiting case</h1>

<mat-progress-bar [value]="queryValue" [mode]="queryMode" color="warn"></mat-progress-bar>

<br/>

<h1>Progress bar with Buffer</h1>

<mat-progress-bar [bufferValue]="bufferValue" [value]="bufferValuePercent" [mode]="bufferMode" color="warn"></mat-progress-bar>
